<footer class="pt-5 pb-3 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h5 class="text-white">My Portfolio</h5>
        <p>Building simple, clean web pages one project at a time.</p>
      </div>
      <div class="col-md-4 mb-3">
        <h5 class="text-white">Get In Touch</h5>
        <p><i class="fa-solid fa-envelope"></i> naeemsarker2003.dev@gmail.com</p>
        <p><i class="fa-solid fa-phone"></i> +880 1629753788</p>
        <p><i class="fa-solid fa-location-dot"></i> Uttara, Dhaka-1230</p>
      </div>
      <div class="col-md-4 mb-3">
        <h5 class="text-white">Follow Me</h5>
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        <a href="#"><i class="fa-brands fa-github"></i></a>
        <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
      </div>
    </div>
    <hr>
    <p class="text-center mb-0">&copy; <span id="copyright-year"></span> My Portfolio. All rights reserved. &mdash; <span id="live-clock"></span></p>
  </div>
</footer>
